/*
Theme Name: Twenty Seventeen Child
Theme URI: [http://localhost/mywordpress/]
Description: Custom event page yang ada tiga data dummy event dengan fitur sorting
Author: adrielbw
Template: twentyseventeen
Version: 1.0.0
*/

.event-page-wrapper {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.sorting-form {
    margin-bottom: 20px;
}

.sort-dropdown {
    padding: 10px 15px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    background-color: #f9f9f9;
    appearance: none;
}

.event-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.event-card {
    width: 250px;
    border: 3px solid #15b5f4ff; /* Biru */
    border-radius: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 5px rgba(159, 203, 226, 0.1);
    margin-bottom: 15px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.event-picture-placeholder {
    height: 100px;
    background: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #000000ff;
}

.event-title {
    color: darkred;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
}

.event-detail {
    margin: 5px 0;
}

.event-count-display {
    color: darkslateblue;
    margin-top: 20px;
    font-size: 1.2em;
}